<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <br>
      <%= button_to "Отправить сообщение через контроллер", post_massages_telegram_path %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
