<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
      <br>
      <%= link_to "Отправить сообщение", 'https://api.telegram.org/bot5356889131:AAEY-Esd6c2u6kK8Z8iq_jTL0PehQ3BWI1w/sendMessage?chat_id=1424694609&text=helllllo', target: '_blank' %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
